:root {
  --ifm-color-primary: #6f8bce;
  --ifm-color-primary-dark: #5778c6;
  --ifm-color-primary-darker: #4c6ec2;
  --ifm-color-primary-darkest: #3859a6;
  --ifm-color-primary-light: #879ed6;
  --ifm-color-primary-lighter: #92a8da;
  --ifm-color-primary-lightest: #b6c4e6;
}




[data-theme='dark'] {
  --ifm-color-primary: #ad86bb;
  --ifm-color-primary-dark: #9f71af;
  --ifm-color-primary-darker: #9867aa;
  --ifm-color-primary-darkest: #7f5190;
  --ifm-color-primary-light: #bb9bc7;
  --ifm-color-primary-lighter: #c2a5cc;
  --ifm-color-primary-lightest: #d7c4de;
}
